<mat-toolbar color="primary" class="toolbars">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <button mat-button routerLink="/"><span><mat-icon>home </mat-icon></span></button>

    <mat-menu #menu="matMenu">
        <div class="hide-menu">
            <!-- <button mat-menu-item routerLink="/platform">Platform</button> -->
            <button mat-menu-item routerLink="/postpage">Posts</button>
            <button mat-menu-item routerLink="/userpage">Credentials</button>
        </div>
    </mat-menu>
    <div class="expanded-menu">
      <!--   <button mat-button routerLink="/platform">Platform</button> -->
        <button mat-button routerLink="/postpage">Posts</button>
        <button mat-button routerLink="/userpage">Credentials</button>
    </div>

    <div class="button__menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </div>

    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>

<router-outlet></router-outlet>